<h5 class="card-title text-center">Junte-se a nos</h5>

<div class="container text-center">
  <%= image_tag "logo", size: "45x45", class: "img-thumbnail"%>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-label-group">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", placeholder: "  " %>
    <%= f.label :name %>
  </div>

  <div class="form-label-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: '  '%>
    <%= f.label :email %>
  </div>


  <div class="form-label-group">

    <% if @minimum_password_length %>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: '  ' %>
    <%= f.label :password %>
    <em>(<%= "Precisamos de no minimo #{@minimum_password_length} caracteres" %> )</em>
  </div>

  <div class="form-label-group">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: '  ' %>
    <%= f.label :password_confirmation %>
  </div>


  <div class="actions">
    <%= f.submit t('link.Sign up'), class: "btn btn-lg btn-primary btn-block text-uppercase" %>
  </div>
<% end %>
Ja possui sua conta? Acesse <%= render "devise/shared/links" %>
