<%= form_with(model: proponent, local: true) do |form| %>
  <% if proponent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(proponent.errors.count, "error") %> prohibited this proponent from being saved:</h2>

      <ul>
      <% proponent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :full_name %>
    <%= form.text_field :full_name %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf %>
  </div>
  <div class="field">

    <%= form.label :birth_date %>
    <%= form.date_field :birth_date %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div class="field">
    <%= form.label :personal_phone %>
    <%= form.text_field :personal_phone %>
  </div>

  <div class="field">
    <%= form.label :reference_phone %>
    <%= form.text_field :reference_phone %>
  </div>

  <div class="field">
    <%= form.label :salary %>
    <%= form.text_field :salary %>
  </div>

  <div class="field">
    <%= form.label :discount_inss %>
    <%= form.text_field :discount_inss %>
  </div>

      <h4>Endereço</h4>
    <%= form.fields_for :address do |address_form| %>
      <div class="field">
        <%= address_form.label :zip_code %>
        <%= address_form.text_field :zip_code, autofocus: true, autocomplete: "name", class: "form-control", placeholder: "  ", data: {autocomplete_zipcode_provider: :zipcode}%>
      </div>

      <div class="field" >
        <%= address_form.label :public_place %>
        <%= address_form.text_field :public_place, autofocus: true, autocomplete: "name", class: "form-control", placeholder: "  ", data: {autocomplete_zipcode_provider: :public_place} %>
      </div>

      <div class="field">
        <%= address_form.label :complement %>
        <%= address_form.text_field :complement, autofocus: true, autocomplete: "name", class: "form-control", placeholder: "   " %>
      </div>

      <div class="field" >
        <%= address_form.label :district %>
        <%= address_form.text_field :district, autofocus: true, autocomplete: "name", class: "form-control", placeholder: "   ", data: {autocomplete_zipcode_provider: :neighborhood} %>
      </div>
      

      <div class="field">
        <%= address_form.label :city %>
        <%= address_form.text_field :city, autofocus: true, autocomplete: "name", class: "form-control", placeholder: "   ", data: {autocomplete_zipcode_provider: :city} %>
      </div>

        <div class="field" >
          <%= address_form.label :uf %>
          <%= address_form.text_field :uf, autofocus: true, autocomplete: "name", class: "form-control", placeholder: "   ", data: {autocomplete_zipcode_provider: :state} %>
        </div>
    <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
