<p id="notice"><%= notice %></p>

<h1>Proponents</h1>

<table>
  <thead>
    <tr>
      <th><%= @proponents.human_attribute_name('full_name') %></th>
      <th><%= @proponents.human_attribute_name('cpf') %></th>
      <th><%= @proponents.human_attribute_name('birth_date') %></th>
      <th><%= @proponents.human_attribute_name('personal_phone') %></th>
      <th><%= @proponents.human_attribute_name('reference_phone') %></th>
      <th><%= @proponents.human_attribute_name('salary') %></th>
      <th><%= @proponents.human_attribute_name('discount_inss') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proponents.each do |proponent| %>
      <tr>
        <td><%= proponent.full_name %></td>
        <td><%= proponent.cpf %></td>
        <td><%= proponent.birth_date %></td>
        <td><%= proponent.personal_phone %></td>
        <td><%= proponent.reference_phone %></td>
        <td><%= proponent.salary %></td>
        <td><%= proponent.discount_inss %></td>
        <td><%= link_to 'Show', proponent %></td>
        <td><%= link_to 'Edit', edit_proponent_path(proponent) %></td>
        <td><%= link_to 'Destroy', proponent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('links.new', model: @proponents.model_name.human), new_proponent_path %>
<%= link_to 'Sair', destroy_employee_session_path, class:"nav-link btn btn-danger", method: :delete %>