<div class="container">
  
    <div>
      <strong>
        <h3> <%= @proponent.full_name %> </h3>
      </strong>
    </div>

    <div>
      <h5>Detalhes</h5>

      <div class="row g-3">
        <div class="form-label-group col-md-3">
          <strong><%= label_tag nil, @proponent.class.human_attribute_name(:cpf) %>:</strong>
          <%= @proponent.cpf %>
        </div>

        <div class="form-label-group col-md-3">
          <strong><%= label_tag nil, @proponent.class.human_attribute_name(:birth_date) %></strong>
          <%= @proponent.birth_date %>
        </div>

        <div class="form-label-group col-md-3">
          <strong><%= label_tag nil, @proponent.class.human_attribute_name(:personal_phone) %></strong>
          <%= @proponent.personal_phone %>
        </div>
      </div>

      <div class="row g-3">
        <div class="form-label-group col-md-3">
          <strong><%= label_tag nil, @proponent.class.human_attribute_name(:reference_phone) %></strong>
          <%= @proponent.reference_phone %>
        </div>

        <div class="form-label-group col-md-3">
          <strong><%= label_tag nil, @proponent.class.human_attribute_name(:salary) %></strong>
          <%= @proponent.salary %>
        </div>

        <div class="form-label-group col-md-3">
          <strong><%= label_tag nil, @proponent.class.human_attribute_name(:contribution) %></strong>
          <%= @proponent.contribution %>
        </div>
      </div>

      <div class="row g-3">
        <div class="form-label-group col-md-3">
          <strong><%= label_tag nil, @proponent.address.class.human_attribute_name(:zip_code) %></strong>
          <%= @proponent.address.zip_code %>
        </div>

        <div class="form-label-group col-md-3">
          <strong><%= label_tag nil, @proponent.address.class.human_attribute_name(:public_place) %></strong>
          <%= @proponent.address.public_place %>
        </div>

        <div class="form-label-group col-md-3">
          <strong><%= label_tag nil, @proponent.address.class.human_attribute_name(:complement) %></strong>
          <%= @proponent.address.complement %>
        </div>
      </div>

      <div class="row g-3">
        <div class="form-label-group col-md-6">
          <strong><%= label_tag nil, @proponent.address.class.human_attribute_name(:district) %></strong>
          <%= @proponent.address.district %>
        </div>

        <div class="form-label-group col-md-6">
          <strong><%= label_tag nil, @proponent.address.class.human_attribute_name(:city) %></strong>
          <%= @proponent.address.city %>
        </div>

        <div class="form-label-group col-md-3">
          <strong><%= label_tag nil, @proponent.address.class.human_attribute_name(:uf) %></strong>
          <%= @proponent.address.uf %>
        </div>
      </div>

      <div class="row g-3">
        <div class="col-sm-7">
          <%= render 'proponents/buttons/back' %>
        </div>

        <div class="col-sm">  </div>

        <div class="col-sm justify-content-md-end">
          <%= render 'proponents/buttons/edit' %>
        </div>
      </div>

    </div>

</div>
