<!DOCTYPE html>
<html>
  <head>
    <title>DiscountInss</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    
  </head>

  <body>
   <header>
    <%= render "shared/navbar"%>
  </header>

  <main>
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-6 mx-auto">
            <em class="alert-primary"><%= notice %></em>
            <em class="alert-danger"><%= alert %></em>
            <div class="card card-signin my-5">
              <div class="card-body">

                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <div>
    <%= render "shared/footer" %>
  </div>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
